<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">
            @Html.ActionLink("Clima Tempo Simples", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </span>
    </nav>

    <main class="container-fluid" id="main">
        @RenderBody()
    </main>

    <footer id="footer">
        <p>
            &copy; @DateTime.Now.Year - Clima Tempo Simples | Desenvolvido por:
            <a href="https://leonardovalcarenghi.com.br" target="_blank">
                <strong>Leonardo Valcarenghi</strong>
            </a>
        </p>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
