<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Clima Tempo Simples</title>

    @Styles.Render("~/assets/css/bootstrap.css")
    @Styles.Render("~/assets/css/select2.css")
    @Styles.Render("~/assets/css/style.css")

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <span class="navbar-brand mb-0 h1">
            @Html.ActionLink("Clima Tempo Simples", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-3">
                    <a class="nav-link" href="/">
                        <i class="bi bi-thermometer-sun mr-1"></i>
                        Clima
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/Home/About">
                        <i class="bi bi-info-circle mr-1"></i>
                        Sobre
                        @*@Html.ActionLink("Sobre", "About", "Home")*@
                    </a>
                </li>
            </ul>
           
        </div>
    </nav>

    <main class="container-fluid" id="main">
        @RenderBody()
    </main>

    <footer id="footer">
        <p>
            &copy; @DateTime.Now.Year - Clima Tempo Simples | Desenvolvido por:
            <a href="https://leonardovalcarenghi.com.br" target="_blank">
                <strong>Leonardo Valcarenghi</strong>
            </a>
        </p>
    </footer>



    @Scripts.Render("~/assets/js/jquery.js")
    @Scripts.Render("~/assets/js/bootstrap.js")
    @Scripts.Render("~/assets/js/toaster.js")
    @Scripts.Render("~/assets/js/select2.js")

    @Scripts.Render("~/assets/js/request.js")
    @Scripts.Render("~/assets/js/main.js")

    @RenderSection("scripts", required: false)
</body>
</html>
